.assignment {
    /* Light gray background for the entire page */
    min-height: 100vh;
    /* Make sure the background covers the full height */
    /* min-width: 100vh; */
    margin-top: -70px;
    padding: 100px;
}

.assignment-details {
    margin-left: 15%;
    padding: 40px;
    border-radius: 20px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .assignment {
        padding: 15px;
        margin: 15px auto;
    }
}

@media (max-width: 992px) {
    .table th, .table td {
        font-size: 14px;
        padding: 10px;
    }

    .assignment {
        padding: 10px;
        margin: 10px auto;
    }
}

@media (max-width: 768px) {
    .table {
        font-size: 12px;
    }

    .table th, .table td {
        padding: 8px;
    }

    .assignment {
        padding: 5px;
        margin: 5px auto;
    }

    .btn-danger {
        padding: 8px 12px;
    }

    .assignment-details{
        margin-left: 35%;
    }
}

@media (max-width: 576px) {
    .table {
        font-size: 10px;
    }

    .table th, .table td {
        padding: 5px;
    }

    .assignment {
        padding: 5px;
        margin: 5px auto;
    }

    .btn-danger {
        padding: 6px 10px;
    }
}